<div class="text-neutral-700" x-data x-load>
  <!-- Breadcrumb -->
  <div class="my-11">
    <a href="/index.html" class="font-bold">Home</a>
    <span class="">/</span>
    <a href="/shop.html" class="">Shop</a>
    <span class="">/</span>
    <span class="">Shopping Cart</span>
  </div>

  <div class="grid grid-cols-3 gap-20">
    <div class="col-span-2">
      <div class="grid grid-cols-5 pb-3 border-b font-medium border-green-200">
          <div class="col-span-2">Products</div>
          <div class="">Price</div>
          <div class="">Quantity</div>
          <div class="">Total</div>
          
      </div>

      <template x-for="item in $store.cart.items" :key="item.id">
        <div class="grid grid-cols-5 gap-4 items-center bg-gray-50 mt-3 pr-6">
          
          <!-- Product info -->
          <div class="col-span-2 flex items-center">
            <img :src="item.img" :alt="item.name" class="w-[70px]">
            <div class="">
              <h3 class="font-medium" x-text="item.name"></h3>
              <p class="text-sm text-gray-500">SKU: <span x-text="item.id"></span></p>
            </div>
          </div>

          <!-- Price -->
          <div class="text-gray-500 font-medium">
            $<span x-text="item.price"></span>
          </div>

          <!-- Quantity -->
          <div class="flex items-center gap-4">
            <button class="aspect-[21.7/25] w-6 bg-green-600 rounded-full flex items-center justify-center text-white text-xl"
                    @click="$store.cart.decrease(item.id)">-</button>
            <span x-text="item.qty"></span>
            <button class="aspect-[21.7/25] w-6 bg-green-600 rounded-full flex items-center justify-center text-white text-xl"
                    @click="$store.cart.increase(item.id)">+</button>
          </div>

          <!-- Total & Remove -->
          <div class="flex items-center gap-5 justify-between">
            <span class="font-bold text-green-600">$ <span x-text="item.price * item.qty"></span></span>
            <button @click="$store.cart.remove(item.id)">
              <img src="./assets/images/delete.svg" alt="Remove item">
            </button>
          </div>

        </div>
      </template>
        

      
    </div>

    <!-- Cart Totals -->
    <div class="">
      <div class="flex flex-col ">
        <h2 class="font-bold border-b border-green-200 pb-3">Cart Totals</h2>

        <div class="flex flex-col gap-7">
          <div class="">
              <h3 class="text-sm my-3">Coupon Apply</h3>
              <div class="flex ">
                <input type="text" placeholder="Enter coupon code here..." class="flex-1 px-4 py-2 border border-gray-300 text-sm focus:outline-none  focus:border-green-600">
                <button class="bg-green-600 text-white px-6 py-2  font-semibold hover:bg-green-700">Apply</button>
              </div>
            </div>

            <div class="flex flex-col gap-4">
              <div class="flex justify-between">
                <span class="text-[15px]">Subtotal</span>
                <span class="text-lg font-medium" x-text="'$' + $store.cart.subTotal"></span>
              </div>
              <div class="text-[15px] flex justify-between">
                <span class="">Coupon Discount</span>
                <span class="">(-) 00.00</span>
              </div>
              <div class="">
                <div class="flex justify-between">
                  <span class="text-[15px]">Shipping</span>
                  <span class="text-lg font-medium">$16.00</span>
                </div>
                
                <div class="text-end text-[12px] text-green-600">
                  <a href="#" class="">View shipping charge</a>
                </div>
              </div>
              
            </div>


            <div class="flex justify-between">
              <span class="font-bold">Total</span>
              <span class="text-lg font-bold text-green-600" x-text="'$' + $store.cart.total"></span>
            </div>

            <button class="btn-lg"><a href="./checkout.html">Proceed To Checkout</a></button>
            <button class="btn-link"><a href="#" >Continue Shopping</a></button>
        </div>
          
      </div>
    </div>
  </div>

</div>

<div class="pb-3 border-b border-green-200">
  <h2 class="font-bold text-green-600">You may be interested in</h2>
</div>


  
