<div class="text-neutral-700 mb-52">
    <div class="my-11">
        <a href="/index.html" class="font-bold">Home</a>
        <span class="">/</span>
        <a href="/shop.html" class="">Shop</a>
        <span class="">/</span>
        <span class="">Checkout</span>
    </div>

    

    <div class="grid grid-cols-3 gap-16 ">
        <div class=" col-span-2">
            <form class="max-w-4xl grid grid-cols-2 gap-6">
                <h2 class=" text-lg col-span-2 font-bold ">
                     Billing Address
                </h2>

                
                <div>
                    <label class="label">First Name <span class="req">*</span></label>
                    <input type="text" class="input">
                </div>

                <div>
                    <label class="label">Last Name <span class="req">*</span></label>
                    <input type="text" class="input">
                </div>

                <!-- Country / City -->
                <div>
                    <label class="label">Country / Region <span class="req">*</span></label>
                    <select class="input">
                    <option>Select a country / region</option>
                    </select>
                </div>

                <div>
                    <label class="label">Town / City <span class="req">*</span></label>
                    <input type="text" class="input">
                </div>

                <!-- Street Address -->
                <div class="col-span-2">
                    <label class="label">Street Address <span class="req">*</span></label>
                    <div class="flex items-center gap-6">
                        <input
                        type="text"
                        class="input mb-3"
                        placeholder="House number and street name"
                        >
                        <input
                        type="text"
                        class="input mb-3"
                        placeholder="Apartment, suite, unit etc. (optional)"
                        >
                    </div>
                    
                </div>

                
                <div>
                    <label class="label">State <span class="req">*</span></label>
                    <select class="input">
                    <option>Select a state</option>
                    </select>
                </div>

                <div>
                    <label class="label">Zip <span class="req">*</span></label>
                    <input type="text" class="input">
                </div>

                
                <div>
                    <label class="label">Email address <span class="req">*</span></label>
                    <input type="email" class="input">
                </div>

                <div>
                    <label class="label">Phone Number <span class="req">*</span></label>
                    <div class="flex gap-3">
                    <select class="input w-24 shrink-0">
                        <option>+966</option>
                    </select>
                    
                    </div>
                </div>

                
                <div class="col-span-2">
                    <div>
                        <label class="flex items-center gap-2 text-sm cursor-pointer">
                        <input type="checkbox" class="accent-green-600">
                        Ship to a different address?
                        </label>
                    </div>
                </div>

                
                <div class="col-span-1">
                    <label class="label">Order notes (optional)</label>
                    <textarea class="input h-32 resize-none"></textarea>
                </div>

                </form>

            
        </div>


        <div class="">
            <h2 class="text-lg col-span-2 font-bold mb-6">Your Order</h2>

            <div class="flex justify-between font-medium pb-3 border-b border-green-100">
                <h3>Products</h3>
                <h3 class="pr-4">Subtotal</h3>
            </div>

            <div class="">
                
                <div class="flex justify-between items-center bg-gray-50 mt-3 pr-4">

                    <div class=" flex items-center">
                    <img src="/assets/images/card-1.png" alt="Barberton Daisy" class="size-[70px]">
                    <div class="">
                        <h3 class="font-medium">Barberton Daisy</h3>
                        <p class="text-sm text-gray-500">SKU: 1995751877966</p>
                    </div>
                    </div>

                    <div class="flex items-center ">
                    
                    <span class="text-sm text-gray-500">(x 2)</span>
                    
                    </div>

                    <div class="flex items-center gap-5 justify-between">
                    <span class="font-bold text-green-600">$238.00</span>
                    </div>
                </div>

                <div class="flex justify-between items-center bg-gray-50 mt-3 pr-4">

                    <div class=" flex items-center">
                    <img src="/assets/images/card-5.png" alt="Barberton Daisy" class="size-[70px]">
                    <div class="">
                        <h3 class="font-medium">Blushing Bromeliad</h3>
                        <p class="text-sm text-gray-500">SKU: 19957518757065</p>
                    </div>
                    </div>

                    <div class="flex items-center ">
                    
                    <span class="text-sm text-gray-500">(x 6)</span>
                    
                    </div>

                    <div class="flex items-center gap-5 justify-between">
                    <span class="font-bold text-green-600">$834.00</span>
                    </div>
                </div>

                <div class="flex justify-between items-center bg-gray-50 mt-3 pr-4">

                    <div class=" flex items-center">
                    <img src="/assets/images/card-6.png" alt="Barberton Daisy" class="size-[70px]">
                    <div class="">
                        <h3 class="font-medium">Aluminum Plant</h3>
                        <p class="text-sm text-gray-500">SKU: 1995751877786</p>
                    </div>
                    </div>

                    <div class="flex items-center ">
                    
                    <span class="text-sm text-gray-500">(x 9)</span>
                    
                    </div>

                    <div class="flex items-center gap-5 justify-between">
                    <span class="font-bold text-green-600">$1,611.00</span>
                    </div>
                </div>
                
                <div class="my-5 text-sm text-end">
                    <p>Have a coupon code?<a href="#" class="text-green-600">Click here</a> </p>  
                </div>
            </div>

            <div class="">
                <div class="flex flex-col gap-5 max-w-[75%] ml-auto">
                    <div class="flex flex-col gap-3">
                        <div class="flex justify-between">
                            <span class="text-[15px]">Subtotal</span>
                            <span class="text-lg font-medium">$2,683.00</span>
                        </div>
                        <div class="text-[15px] flex justify-between">
                            <span class="">Coupon Discount</span>
                            <span class="">(-) 00.00</span>
                        </div>
                        <div class="">
                            <div class="flex justify-between">
                                <span class="text-[15px]">Shipping</span>
                                <span class="text-lg font-medium">$16.00</span>
                            </div>
                                
                            <div class="text-end text-[12px] text-green-600">
                                <a href="#" class="">View shipping charge</a>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-between items-center">
                        <span class="font-bold">Total</span>
                        <span class="text-lg font-bold text-green-600">$2,699.00</span>
                    </div>

                    <div class="" x-data>
                        <h3 class="text-lg font-bold mb-3">Payment Method</h3>

                        <div class="flex flex-col gap-3">
                            <!-- Card / PayPal -->
                            <label class="flex items-center gap-4 border rounded-lg px-3 py-2 cursor-pointer">
                                <input type="radio" name="payment" class="accent-green-600">
                                <div class="flex items-center gap-3">
                                    <img src="/assets/images/footer-pay.png" class="h-6" alt="">                        
                                </div>
                            </label>

                            <!-- Bank transfer -->
                            <label class="flex items-center gap-4 border rounded-lg px-4 py-3 cursor-pointer">
                                <input type="radio" name="payment" class="accent-green-600">
                                <span>Direct bank transfer</span>
                            </label>

                            <!-- Cash on delivery -->
                            <label class="flex items-center gap-4 border-2 border-green-600 rounded-lg px-4 py-3 cursor-pointer">
                                <input type="radio" name="payment" checked class="accent-green-600">
                                <span>Cash on delivery</span>
                            </label>
                        </div>

                        <button class="btn btn-lg mt-14" @click="$dispatch('checkout-open', { mode: 'checkout' })">Place Order</button>
                    </div> 

                </div>        
            </div>

         </div>


         
    </div>
    
</div>