<header class="flex justify-between mt-6 pt-0 font-roboto text-xl font-regular border-b-[0.3px]"
        x-data>
    <img class="w-40 h-9" src="/assets/images/Logo.png" alt=""></img>
    
      <ul class="flex gap-12 text-neutral-700 "
          x-data="{active: 'home'}">
        <li @click="active = 'home'"
            class="hover:text-black"
            :class="{ 'border-b-[3px]  border-green-600 text-green-600' : active === 'home' }"><a href="#">Home</a>
        </li>

        <li @click="active = 'shop'"
            class="hover:text-black"
            :class="{ 'border-b-[3px]  border-green-600 text-green-600' : active === 'shop' }"><a href="#">Shop</a>
        </li>

        <li @click="active = 'plantCare'"
            class="hover:text-black"
            :class="{ 'border-b-[3px]  border-green-600 text-green-600' : active === 'plantCare' }"><a href="#">Plant Care</a>
        </li>

        <li @click="active= 'blogs'"
            class="hover:text-black"
            :class="{ 'border-b-[3px]  border-green-600 text-green-600' : active === 'blogs' }"><a href="#">Blogs</a>
        </li>
      </ul>
      <ul class="flex items-center gap-8 mb-3">
        <li><a href="#"><img src="/assets/images/Search.png" alt=""></a></li>
        <li><a href="#"><img src="/assets/images/Basket.png" alt=""></a></li>
        <button class="flex gap-1 bg-green-500 hover:bg-green-700 items-center px-4 py-2 text-white rounded-md font-medium" 
                @click="$dispatch('auth-open', { mode: 'login' })">
          <img class="w-5 h-5" src="/assets/images/Logout.png" alt="">
          <p>Login</p>
        </button>
      </ul>
     
</header>