<header class="flex justify-between mt-6 pt-0  font-Montserrat text-xl font-regular border-b-[0.3px]">
    <img class="w-40 h-9" src="/assets/images/Logo.png" alt=""></img>
    
      <ul class="flex gap-12 text-neutral-700 ">
        <li class="font-bold border-b-[3px] border-green-600 pb-6"><a href="#">Home</a></li>
        <li class="hover:text-black"><a href="#">Shop</a></li>
        <li class="hover:text-black"><a href="#">Plant Care</a></li>                      
        <li class="hover:text-black"><a href="#">Blogs</a></li>
      </ul>
      <ul class="flex items-center gap-8">
        <li><a href="#"><img src="/assets/images/Search.png" alt=""></a></li>
        <li><a href="#"><img src="/assets/images/Basket.png" alt=""></a></li>
        <button class="flex gap-1 bg-green-500 hover:bg-green-700 items-center px-4 py-2 text-white rounded-md font-medium" >
          <img class="w-5 h-5" src="/assets/images/Logout.png" alt="">
          <p>Login</p>
        </button>
      </ul>
     
</header>