<section class="flex justify-between font-roboto bg-gray-50 mt-5 pb-5">
  <div class="embla"
       x-load
       x-data="embla">
    <div class="embla__viewport" x-ref="viewport">
      <div class="embla__container">
        
        {% for banner in banners %}
           {% include '@component/common/banner.twig' with { banner: banner } %} 
        {% endfor %}

      </div>
    </div> 
    
    <div class="embla__dots mt-2 flex gap-4 justify-center items-center">
      <template x-for='(dot, i) in dots'  :key='i'>
        <button @click='select(i)'
                :class="selected === i ? 'bg-green-500' : 'bg-gray-300'"
                class="w-3 h-3 rounded-full transition-all"></button>
      </template>
    </div>
  </div>
</section>


















