 <section class="flex justify-between bg-gray-50 mt-5 ">
        <div class="flex flex-col gap-2 basis-2/3 items-start max-w-[620px] pt-16 pl-11 text-neutral-700">
            <h3 class="text-sm uppercase tracking-wider font-bold ">Welcome to GreenShop</h3>
            <h1 class="text-7xl uppercase font-black">Let's Make a<br>Better <span class="text-green-600">Planet</span></h1>
            <p class="text-sm font-normal text-gray-500">We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!</p>
            <button class="mt-11 uppercase px-7 py-3 text-base text-white bg-green-500 hover:bg-green-700 font-bold rounded-md">Shop Now</button>
            <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class=""></div>
            </div>
        </div>

        <div class="">
            <img class=" " src="/assets/images/plants.png" alt=""></img>
        </div>
    </section>