<section class="flex justify-between bg-gray-50 mt-5 pb-5">
  <div 
    class="embla w-full"
    x-data="emblaCarousel()"
    x-init="init"
    >
      <div class="embla__viewport overflow-hidden" x-ref="viewport">
        <div class="embla__container flex">
          <div class="embla__slide flex justify-between items-center flex-[0_0_100%] px-10"> 
            
            <div class="flex flex-col gap-2 max-w-[620px] pt-16 text-neutral-700"> 
              <h3 class="text-sm uppercase tracking-wider font-bold">Welcome to GreenShop</h3> 
              <h1 class="text-7xl uppercase font-black"> 
              Let's Make a<br>Better <span class="text-green-600">Planet</span> 
              </h1> 
              <p class="text-sm text-gray-500"> 
              We are an online plant shop offering a wide range of cheap and trendy plants. 
              </p> 
              <button class="mt-11 uppercase px-7 py-3 text-base text-white bg-green-500 hover:bg-green-700 font-bold rounded-md">
               Shop Now 
               </button> 
            </div> 
               <img src="/assets/images/plants.png" alt="Plant" class="w-[400px] h-auto" />

          </div>

          <div class="embla__slide flex justify-between items-center flex-[0_0_100%] px-10"> 

            <div class="flex flex-col gap-2 max-w-[620px] pt-16 text-neutral-700"> 
              <h3 class="text-sm uppercase tracking-wider font-bold">Welcome to GreenShop</h3> 
              <h1 class="text-7xl uppercase font-black"> 
              Let's Make a<br>Better <span class="text-green-600">Planet</span> 
              </h1> 
              <p class="text-sm text-gray-500"> 
              We are an online plant shop offering a wide range of cheap and trendy plants. 
              </p> 
              <button class="mt-11 uppercase px-7 py-3 text-base text-white bg-green-500 hover:bg-green-700 font-bold rounded-md">
               Shop Now 
               </button> 
            </div> 
               <img src="/assets/images/plants.png" alt="Plant" class="w-[400px] h-auto" />

          </div>
          <div class="embla__slide flex justify-between items-center flex-[0_0_100%] px-10"> 
          
            <div class="flex flex-col gap-2 max-w-[620px] pt-16 text-neutral-700"> 
              <h3 class="text-sm uppercase tracking-wider font-bold">Welcome to GreenShop</h3> 
              <h1 class="text-7xl uppercase font-black"> 
              Let's Make a<br>Better <span class="text-green-600">Planet</span> 
              </h1> 
              <p class="text-sm text-gray-500"> 
              We are an online plant shop offering a wide range of cheap and trendy plants. 
              </p> 
              <button class="mt-11 uppercase px-7 py-3 text-base text-white bg-green-500 hover:bg-green-700 font-bold rounded-md">
               Shop Now 
               </button> 
            </div> 
               <img src="/assets/images/plants.png" alt="Plant" class="w-[400px] h-auto" />

          </div>
        </div>
      </div>

  <div class="flex justify-center items-center gap-4 mt-4">
    <div class="embla__dots flex gap-3">
      <template x-for="(dot, index) in dots"  :key="index">
        <button
          @click="embla.scrollTo(index)"
          :class="{'bg-green-500': index === selected, 'bg-gray-300': index !== selected}"
          class="w-3 h-3 rounded-full transition-colors">
        </button>
      </template>
    </div>
  </div>
  </div>
</section>


















