
<div class="flex px-10 py-8 font-roboto gap-8">

    <!-- ===== LEFT SIDEBAR ===== -->
    <aside class="w-64 shrink-0 space-y-10 px-3 py-4 bg-gray-50">

      <!-- Categories -->
      <div>
        <h3 class="font-bold text-gray-900 mb-4 text-xl">Categories</h3>
        <ul class="space-y-3 text-base font-bold text-gray-700 px-7">
          <li class="text-green-600 font-semibold cursor-pointer flex justify-between">
          <span>House Plants</span>
          <span class="font-normal">(33)</span>
          </li>

          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Potter Plants</span>
            <span class="font-normal">(12)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Seeds</span>
            <span class="font-normal">(65)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Small Plants</span>
            <span class="font-normal">(39)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Big Plants</span>
            <span class="font-normal">(23)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Succulents</span>
            <span class="font-normal">(17)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Terrariums </span>
            <span class="font-normal">(19)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Gardening</span>
            <span class="font-normal">(13)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Accessories</span>
            <span class="font-normal">(18)</span>
          </li>
        </ul>
      </div>

      <!-- Price Range -->
      <div x-data="slider()" 
           x-load
            class="space-y-3">
        <h3 class="font-semibold text-gray-900 text-lg">Price Range</h3>

        <div class="relative h-1 ">
          <!-- Зеленая линия между ползунками -->
          <div class="absolute top-1/2 -translate-y-1/2 w-full h-1 bg-green-100 rounded-full"></div>
          <div class="absolute top-1/2 -translate-y-1/2 h-1 bg-green-500 rounded-full"
               :style="{ left: ((minValue - min) / (max - min) * 100) + '%', 
                        width: ((maxValue - minValue) / (max - min) * 100) + '%' }">
          </div>

          <!-- Диапазон -->
              <input type="range" 
              x-model.number="minValue" 
              :min="min" 
              :max="max" 
              @input="filterCards()"
              class="absolute w-full h-[4px] bg-transparent appearance-none pointer-events-none" />
              <input type="range" 
              x-model.number="maxValue" 
              :min="min" 
              :max="max"
              @input="filterCards()" 
              class="absolute w-full h-[4px] bg-transparent appearance-none pointer-events-none" />
        </div>

        <p>
          Price:
          <span class="font-medium text-green-600">
            $<span x-text="minValue"></span>
          </span>
          -
          <span class="font-medium text-green-600">
            $<span x-text="maxValue"></span>
          </span> 
        </p>

        <button 
        class="bg-green-600 text-white font-semibold px-4 py-2 w-full rounded-md hover:bg-green-700 transition">
          Filter
        </button>
      </div>

      <!-- Size -->
      <div>
        <h3 class="font-bold text-gray-900 mb-4 text-xl ">Size</h3>
        <ul class="space-y-3 text-base font-bold px-7 text-gray-700">
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Small</span>
            <span class="font-normal">(119)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Medium</span>
            <span class="font-normal">(86)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Large</span>
            <span class="font-normal">(78)</span>
          </li>
        </ul>
      </div>

      <!-- Sale Banner -->
      <div class="bg-green-100 text-center py-6 rounded-lg">
        <h2 class="text-3xl font-extrabold text-green-600 mb-1">Super Sale</h2>
        <p class="text-gray-700 text-sm mb-2">UP TO 75% OFF</p>
        <img src="plant-sale.png" alt="Sale Banner" class="w-32 mx-auto">
      </div>
    </aside>

    <!-- ===== MAIN CONTENT ===== -->
    <div class="flex-1"
         x-data="filter()"
         x-load>

      <!-- Top Bar -->
      <div class="flex items-center justify-between mb-8">
        <div class="flex space-x-8 font-medium text-gray-700 text-base">
          <a href="#" class="text-green-600 border-b-2 border-green-600 pb-1">All Plants</a>
          <a href="#" class="hover:text-green-600">New Arrivals</a>
          <a href="#" class="hover:text-green-600">Sale</a> 
        </div>

        <div class="flex items-center gap-3 text-sm text-gray-700">
          <label for="sort" class="font-medium">Sort by:</label>
          <select
            id="sort"
            class="rounded-md  bg-white py-1.5 px-3 text-sm "
            x-model="sortMode"
            @change="sortItems()"
          >
            <option value="default">Default sorting</option>
            <option value="low">Price: low to high</option>
            <option value="high">Price: high to low</option>
          </select>
        </div>
      </div>

      <!-- Product Grid -->
      

      <div class="grid grid-cols-3 gap-6" id="cardsContainer" x-data>

        {% for product in products %}
        <div  
        class="card  transition-opacity duration-300"
        data-price="{{ product.price }}">

          {% include '@component/common/card.twig' with { product: product } %}
          
        </div>
        {% endfor %}

      </div>
    </div>

    
  </div>  
    <!-- Кнопки -->
  <div class="flex justify-center gap-4 mt-4">
    <button @click="prevPage" :disabled="page === 1">Назад</button>
    <span x-text="page + ' / ' + totalPages"></span>
    <button @click="nextPage" :disabled="page === totalPages">Вперёд</button>
  </div>
</div>

