
<div class="flex  py-8 font-roboto gap-8">

    <!-- ===== LEFT SIDEBAR ===== -->
    <aside class="w-80 shrink-0 space-y-10 px-3 py-4 bg-gray-50">

      <!-- Categories -->
      <div>
        <h3 class="font-bold text-neutral-700 mb-4 text-lg">Categories</h3>
        <ul class="space-y-3 text-base font-normal text-neutral-600 px-7">
          <li class="text-green-600 cursor-pointer flex justify-between">
          <span>House Plants</span>
          <span >(33)</span>
          </li>

          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Potter Plants</span>
            <span >(12)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Seeds</span>
            <span >(65)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Small Plants</span>
            <span >(39)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Big Plants</span>
            <span >(23)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Succulents</span>
            <span >(17)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Terrariums </span>
            <span >(19)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Gardening</span>
            <span >(13)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Accessories</span>
            <span >(18)</span>
          </li>
        </ul>
      </div>

      <!-- Price Range -->
      <div x-data="slider()" 
           x-load
            class="">
        <h3 class="font-bold text-neutral-700  text-lg">Price Range</h3>

        <div class="px-7 space-y-3 mt-7">
        
          <div class="relative  h-1 ">
            <!-- Зеленая линия между ползунками -->
            <div class="absolute top-1/2 -translate-y-1/2 w-full h-1 bg-green-100 rounded-full"></div>
            <div class="absolute top-1/2 -translate-y-1/2 h-1 bg-green-500 rounded-full"
                :style="{ left: ((minValue - min) / (max - min) * 100) + '%', 
                          width: ((maxValue - minValue) / (max - min) * 100) + '%' }">
            </div>

            <!-- Диапазон -->
                <input type="range" 
                x-model.number="minValue" 
                :min="min" 
                :max="max" 
                @input="filterCards()"
                class="absolute w-full h-[4px] bg-transparent appearance-none pointer-events-none" />
                <input type="range" 
                x-model.number="maxValue" 
                :min="min" 
                :max="max"
                @input="filterCards()" 
                class="absolute w-full h-[4px] bg-transparent appearance-none pointer-events-none" />
          </div>

          <p class="text-base font-normal text-neutral-600">
            Price:
            <span class="font-bold text-green-600">
              $<span x-text="minValue"></span>
            </span>
            -
            <span class="font-bold text-green-600">
              $<span x-text="maxValue"></span>
            </span> 
          </p>

          <button 
          class="bg-green-600 w-max text-white font-bold px-6 py-2 text-base rounded-md hover:bg-green-700 transition">
            Filter
          </button>
        </div>
      </div>
      <!-- Size -->
      <div>
        <h3 class="font-bold text-neutral-700  text-lg ">Size</h3>
        <ul class="space-y-3 text-base font-normal text-neutral-600 px-7">
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Small</span>
            <span >(119)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Medium</span>
            <span >(86)</span>
          </li>
          <li class="hover:text-green-600 cursor-pointer flex justify-between">
            <span>Large</span>
            <span >(78)</span>
          </li>
        </ul>
      </div>

      <!-- Sale Banner -->
     
        
        <img src="/assets/images/sale-banner.jpg" alt="Sale Banner" class="">
      
    </aside>

    <!-- ===== MAIN CONTENT ===== -->
    <div class="flex-1"
         x-data="filter()"
         x-load>

      <!-- Top Bar -->
      <div class="flex items-center justify-between mb-8">
        <div class="flex space-x-8 font-medium text-gray-700 text-base">
          <a href="#" class="text-green-600 border-b-2 border-green-600 pb-1">All Plants</a>
          <a href="#" class="hover:text-green-600">New Arrivals</a>
          <a href="#" class="hover:text-green-600">Sale</a> 
        </div>

        <div class="flex items-center gap-3 text-sm text-gray-700">
          <label for="sort" class="font-medium">Sort by:</label>
          <select
            id="sort"
            class="rounded-md  bg-white py-1.5 px-3 text-sm "
            x-model="sortMode"
            @change="sortItems()"
          >
            <option value="default">Default sorting</option>
            <option value="low">Price: low to high</option>
            <option value="high">Price: high to low</option>
          </select>
        </div>
      </div>

      <!-- Product Grid -->
      

      <div class="grid grid-cols-3 gap-6" id="cardsContainer" x-data>

        {% for product in products %}
        <a  href="#"
        class="card  transition-opacity duration-300"
        data-price="{{ product.price }}">

          {% include '@component/common/card.twig' with { product: product } %}
          
        </a>
        {% endfor %}

      </div>
    </div>

    
  </div>  
    <!-- Кнопки -->
  <div class="flex justify-center gap-4 mt-4">
    <button @click="prevPage" :disabled="page === 1">Назад</button>
    <span x-text="page + ' / ' + totalPages"></span>
    <button @click="nextPage" :disabled="page === totalPages">Вперёд</button>
  </div>
</div>

