
    <div class="flex font-roboto justify-between mt-64 gap-8 w-full font-black ">
        <div class="flex justify-between bg-gray-50 items-center">
            <div class="">
                <img  src="/assets/images/card-5.png" alt="">
            </div>
            <div class="flex flex-col mr-7 text-end items-end gap-4 p-2 text-3xl text-neutral-700">
                <h2>Summer cactus <br>& succulents</h2>
                <p class="text-sm font-normal max-w-72 ">We are an online plant shop offering a wide range of cheap and trendy plants</p>
                <button class="text-lg font-medium px-4 py-2 rounded-xl text-white bg-green-500 hover:bg-green-700">Find More <span>&#10140;</span></button>
            </div>
        </div>

        <div class="flex justify-between bg-gray-50 items-center">
            <div >
                <img src="/assets/images/card-3.png" alt="">
            </div>
            <div class="flex flex-col mr-7 text-end items-end gap-4 text-3xl text-neutral-700">
                <h2>Styling Trends <br>& much more</h2>
                <p class="text-sm font-normal max-w-72 ">We are an online plant shop offering a wide range of cheap and trendy plants</p>
                <button class="text-lg font-medium px-4 py-2 rounded-xl text-white bg-green-500 hover:bg-green-700">Find More <span>&#10140;</span></button>
            </div>
        </div>
    </div>
