@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 3px solid white;
    border-radius: 9999px;
    background: #22c55e;
    cursor: pointer;
    pointer-events: auto;
}

.embla {
    overflow: hidden;
    position: relative;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
    backface-visibility: hidden;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    position: relative;
}

.embla__dot {
    transition: background-color 0.3s ease;
}

.embla__dot:hover {
    background-color: #22c55e;
    /* Tailwind green-500 */
}