@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.btn {
    @apply text-base font-bold rounded-md;
}

.btn-primary {
    @apply px-7 py-2 text-white bg-green-600 transition w-max font-bold;
}

.btn-lg {
    @apply w-full py-2 text-white bg-green-600 transition font-bold;
}

.btn-bordered {
    @apply px-7 py-2 bg-inherit w-max text-green-600 border border-green-600;
}

.btn-link {
    @apply text-green-600;
}

.input {
    @apply w-full px-4 py-2 border border-gray-300 text-sm rounded;
}

.label {
    @apply block text-sm mb-1;
}

.req {
    @apply text-red-500 text-xl;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 3px solid white;
    border-radius: 9999px;
    background: #22c55e;
    cursor: pointer;
    pointer-events: auto;
}

.embla {
    overflow: hidden;
    position: relative;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
    backface-visibility: hidden;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    position: relative;
}

.embla__dot {
    transition: background-color 0.3s ease;
}

.embla__dot:hover {
    background-color: #22c55e;
    /* Tailwind green-500 */
}