<div class="text-center shadow-md pb-5 group">
    <img src="{{ product.img }}" class="mx-auto mb-3 rounded-lg transition-transform group-hover:scale-105" alt="{{ product.name }}">
    <h4 class="font-medium text-gray-800">{{ product.name }}</h4>
    <p class="text-green-600 font-semibold">${{ product.price }}</p>
</div>