<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }} | {{ appName }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="max-w-[1200px] m-auto text-xl font-regular font-roboto">
    {% block body %}{% endblock %}
    <script type="module" src="/src/js/main.js"></script>
    
  </body>
</html>
