<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }} | {{ appName }}</title>
  </head>
  <body class="max-w-[1200px] m-auto font-Montserrat text-xl font-regular">
    {% block body %}{% endblock %}
    <script type="module" src="/src/js/main.js"></script>
    <script type="module" src="/src/js/embla.js"></script>
  </body>
</html>
